<div class="content-container landing" ng-show="true">
    <main class="content">
		<section class="homepage">
			<div id="owl-example" class="owl-carousel">
				<div class="item dev"><h1>Full-Stack Developer.</h1></div>
				<div class="item des"><h1>Web Designer.</h1></div>
				<div class="item frl"><h1>Freelancer.</h1></div>
				<div class="item all">
					<h2>Developer. Designer. Freelancer</h2>
				</div>
			</div>
			<div class="homepage-tagline">
				<h3>What Can I Build For You?</h3>
			</div>
			<div class="home-sections">
				<div class="developer">
					<a href="/#!/about"><input class="btn btn-1" type="button" value="My Skills"></a>
				</div>
				<div class="designer">
					<input class="btn btn-1" type="button" value="My Portfolio">
				</div>
				<div class="freelancer">
					<input class="btn btn-1" type="button" value="Contact Me">
				</div>
			</div>
		</section>   	
    </main>
</div>